<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>

<head>
    <meta charset="UTF-8">
    <title>FaceBook</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
 
 <section class="about">
  <h1>About FaceBook</h1>
   <p>
    FaceBookは、Railsフレームワークにより作成された開発テスト用アプリです。
   </p>
   <p>
    FaceBookは、SNSを通して世界の友達と会話ができるアプリです。
   </p>
 </section>
  
</body>


<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>
